/*
    该文件保存所有less的全局变量，定义后可全局使用
*/
@navHeight: 44px;
@navFontColor: rgba(255, 255, 255, 0.8);
@navHoverFontColor: rgba(255, 255, 255, 1);
@contentWidth: 998px;
@commonFontSize: 12px;
@colorAnimateTime: 500ms;
@navExtendHeight: 350px;
@extendActiveBackgroundColor: #161617;
@infoFontColor: #86868b;
.common-nav-font-color-transition {
    transition: color @colorAnimateTime ease;
}
.common-content {
    padding: 15px;
}
.common-content-title {
    color: @infoFontColor;
    font-size: 30px;
    margin-bottom: 40px;
}
.common-content-item {
    padding-bottom: 50px;
}
.common-content-item-name {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}
.common-font {
    font-size: @commonFontSize;
}
.common-link {
    color: @navFontColor;
    text-decoration: underline;
}
